/*
Auteur : Mazzitelli Ryan
Date de publication : 25/01/2023
Description : 
Version : V1
Auteur de la mise à jour :  
Date de mise à jour : 


*/

body{
    background-color: chocolate;
    margin: 0%;
}

#logokilucru {
    width: 100px;
    /* Border radius = cercle */
    border-radius: 50%;
    margin-left: 0%;
    float: left;
}

h1 {
    color: brown ;
    font-size: 2rem;
}

#divid1 {
    width: 115px;
    background-color: beige;
    margin: 10px;
    /* padding = marge interne */
    padding: 40px;
    float: left;
}

#divid2 {
    float: right ;
    margin-right: 50px;
    font-size: 20px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    clear: both;
    text-align: center;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    width:  200px;
    margin: 50px;
    border: 20px solid black;
}

nav ul li a {
    /* Enlever le soulignement */
    text-decoration: none;
    background-color: blue
}
