/*
Auteur : Mazzitelli Ryan
Date de publication : 01/02/2023
Description : 1024px / 872 > 425px
Version : V0.0.1
Auteur de la mise à jour :  Mazzitelli Ryan
Date de mise à jour :


*/

@font-face {
    font-family: 'punyregular';
    src: url('../font/puny-webfont.woff2') format('woff2'),
    url('../font/puny-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Screen pour max 768px */

@media screen and (max-width: 768px) {
    /* ma nav */
    /* Image de mec nav */
    .imgnav {
        width: 200px !important;
        margin-left: -70px !important;
    }
    /* Separation de mes <li> */
    li {
        margin-left: 50px;
        margin-top: 7px;
    }

    /* main */
    .presentation {
        margin-left: -380px;
    }
    .mecontacter {
        margin-left: -400px;
        margin-top: -20px;
    }
}

body {
    margin: 0;
    background-image: url(/medias/images/backreturn.png);
    background-size: cover;
}

#imgbanner {
    width: 100%;
}

ul {
    display: flex;
    list-style: none;
}

.imgnav {
    width: 400px;
    margin-left: 50px;
    margin-top: -38px;
}
/* .test {
    display: flex;
    text-align: center;
} */
/* Mon main */
#presentation {
    width: 50%;
    margin-left: 480px;
}

#mecontacter {
    width: 50%;
    margin-left: 500px;
}

h1 {
    color: aliceblue;
    text-align: center;
    font-family: punyregular ;
}

#videokraber {
    width: 50%;
    margin-left: 25%;
    border: 4px solid white;
    border-radius: 5%;
}