/*
Auteur : Mazzitelli Ryan
Date de publication : 01/02/2023
Description : 1024px / 872 > 425px
Version : V0.0.1
Auteur de la mise à jour :  Mazzitelli Ryan
Date de mise à jour :


*/

@font-face {
    font-family: 'punyregular';
    src: url('../font/puny-webfont.woff2') format('woff2'),
    url('../font/puny-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Screen pour max 768px */

@media screen and (max-width: 768px) {
    #quisuisje {
        margin-left: 350px !important;
        margin-top: 50px;
    }
    #texte {
        margin-right: 60px;
    }
    #photodemoi {
        width: 30% !important;
        margin-top: -40px !important;
    }
}

body {
    margin: 0;
    background-image: url(/medias/images/backreturn.png);
    background-size: cover;
}

#imgbanner {
    width: 100%;
}

/* Ma présentation */
#quisuisje {
    width: 30%;
    margin-left: 800px;
    margin-top: 50px;
}

#photodemoi {
    width: 50%;
    margin-top: -200px;
}

.descrip {
    display: flex;
    color: aliceblue;
    margin-left: auto;
}

#texte {
    font-family: punyregular ;
    font-size: 50px;
    text-align: center;
}


/* Mes logos */

h2 {
    font-family: punyregular;
    color: aliceblue;
}

#mesjeux {
    display: flex;
    margin-left: 800px;
    margin-top: -200px;
}

#logoapex {
    width: 220px ;
}

#logoflyff {
    width: 150px;
}

#logolol {
    width: 220px;
}