* {
    margin: 0;
    scroll-behavior: smooth;
}
@font-face {
    font-family: 'louis_george_cafebold';
    src: url(/font/louis_george_cafe_bold-webfont.woff2) format('woff2'),
        url(/font/louis_george_cafe_bold-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}
/* corp de ma page */
body {
    background-image: url(/medias/images/padrillon.png);
    background-repeat: no-repeat;
    background-size: 200%;
}
/* Mon header */
header {
    background-repeat: no-repeat;
}

/* Ma photo de la bannière du haut de page */
#picturesryan {
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    margin-left: 20rem;
    margin-top: 2vh;
}

/* Ma barre de navigation */
nav {
    float: right;
    text-align: right;
    margin-right: 20vh;
    margin-top: 7vh;
}

ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 100%;
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

h1 {
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    color: white;
    margin-top: 10vw;
    text-align: center;
    font-size: 300%;
}

h2 {
    color: white;
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    text-align: center;
    margin-top: 3vh;
    font-size: 5vh;
}

#buttonquisuisje {
    background-color: #2B3467;
    margin-top: 5vh;
    padding: 1px 20px;
    font-size: 100%;
    border-radius: 5px;
    color: #fff;
    border: none;
}

.rdq {
    text-align: center;
}


#buttonquisuisje:hover {
    cursor: pointer;
    background-color: black;
    transition: 1s;
}

/* Main de ma page */
main {
    background-color: white;
    margin-top: 40vh;
}

.proposdemoi {
    background-color: white;
    color: black ;
}

#propos {
    color: #2B3467;
    font-size: 170%;
    margin-top: 55vh;
    scroll-behavior: smooth;
    margin-bottom: 5vh;
}
@media screen and (min-width: 1440px) {
    #propos {
    margin-top: 5vh;
    }
    
}


/* Ma présentation */
#photodeface {
    width: 30vh;
    height: 40vh;
    margin-left: 25vw;
    margin-right: 20px;
    margin-top: -3vh;
    border-radius: 5px;
}
@media screen and (min-width: 1440px) {
    
}


/* Mon textes de présentation */
.textpropos {
    width: 70vh;
    margin-left: 25vh;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif ;
    letter-spacing: 2px;
    line-height: 25px;
    margin-top: 3vh;
}
@media screen and (min-width: 1440px) {
    #textpropos {
        
    }
}

.aproposdemoi {
    display: flex;
    flex-direction: row;
    margin-bottom: 5vh;
}

#imgetoile {
    width: 100%;
    height: 60vh;
}

#recherche {
    color: white;
    font-size: 3rem;
    margin-top: -32vh;
    text-align: center;
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
#actuellement {
    color: white;
}

#competences {
    margin-top: 20vh;
    text-align: center;
    color: #3E54AC ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 30px;
}

#textcompetences {
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 15px;
    width: 20%;
    text-align: center;
    margin-left: 39.5%;
    margin-top: 1vh;
}

.progress {
    width: 570px;
    height: 10px;
    border-radius: 50px;
    background-color: rgb(107, 103, 103);
}

.progress::-webkit-progress-value {
    background-color: #3E54AC;
}

.progress::-moz-progress-bar {
    background-color: #3E54AC;
}

#mescompetences {
    margin-left: 20vh;
    width: 30%;
    text-align: center;
}

.front {
    font-size: 15px;
    text-align: center;
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.code {
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
}
.codage {
    margin-left: -49vh;
    font-size: 1.3vh;
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

#html {
    margin-left: -56vh;
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 15px;
}

#css {
    margin-left: -57.5vh;
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 15px;
}

#js {
    margin-left: -1vh;
    width: 30%;
    font-size: 15px;
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

#java {
    margin-left: -7.3vh;
    width: 30%;
    font-size: 15px;
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;

}
#php {
    margin-left: -7.5vh;
    width: 30%;
    font-size: 15px;
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;

}
#wp {
    margin-left: -4.5vh;
    width: 30%;
    font-size: 15px;
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

#angu {
    margin-left: -1vh;
    width: 30%;
    font-size: 15px;
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;

}

#windows {
    margin-left: -5.5vh;
    width: 30%;
    font-size: 15px;
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

#cvryan {
    width: 50%;
    float: right;
    margin-right: 20vh;
    margin-top: -45vh;
}

.cv {
    display: flex;
    flex-direction: column;
    float: right;
    margin-right: -10vh;
}

#buttoncv {
    background-color: #2B3467;
    padding: 1px 20px;
    font-size: 100%;
    border-radius: 5px;
    color: #fff;
    border: none;
    text-align: center;
    margin-left: 12vh;
    margin-top: 2vh;
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

#pc {
    width: 100%;
}

/* Mes citations :  */

.citation {
    color: white;
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    margin-top: -28vh;
}

#citation {
    text-align: center;
    font-size: 3vh;
}

.portfolio {
    text-align: center;
}

#portfolio {
    margin-top: 25vh;
    color: #3E54AC;
    font-size: 4vh;
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

#texteportfolio {
    color: black;
    margin-top: 5vh;
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.card {
    width: 30%;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    box-shadow: 5px 5px 15px 5px #949494;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 2vh;
    margin-top: 2vh;
    background-image: url(/medias/images/siteactuel.png);
    background-size: cover;
}

.inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    padding: 40px;
}


.title {
    font-size: 24px;
    color: black;  
    text-align: center;
    font-weight: 700;
    color: #181818;
    text-shadow: 0px 2px 2px #a6f8d5;
    position: relative;
    margin: 0 0 20px 0;
}

.subtitle {
    color: #b0215e;
    text-align: center;
}

.mescards {
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
}

/* Mon footer */
footer {
    background-color: #247b4d;
    box-shadow: 1px -4px 15px 1px rgba(0,0,0,0.5);
    background-image: linear-gradient(90deg, #247b4d 0%, #000000 46%, #247b4d 100%);
}

#contactezmoi {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

#hesitezpas {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.contactezH {
    color: white;
    text-align: center;
}

form {
    width: 500px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.5;
}

div {
    margin-bottom: 20px;
}

label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
    margin-right: 10px;
    color: #fff;
}

input[type="text"],
input[type="email"],
input[type="tel"],

input {
    width: 32vh;
}

form {
    background-color: rgba(136, 124, 124, 0.473);
    width: 60vh;
    text-align: center;
    border: 3px solid rgba(136, 124, 124, 0.473);
    border-radius: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

#messagetext {
    vertical-align: top;
}

#champ {
    color: #fff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    margin-right: 6vh;
}

textarea {
    width: 300px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    resize: none;
}

textarea {
    height: 100px;
}

.check {
    display: flex;
    flex-direction: row;
}

.form-input {
    width: 2%;
    margin-bottom: 3vh;
    margin-left: 1vh;
}

.form-label {
    height: 5vh;
    width: 60vh;
    font-size: 13px;
}

#aste {
    color: red;
}

button {
    padding: 10px;
    background-color: #2B3467;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}
.button {
    text-align: center;
}

button:hover {
    background-color: black;
}

#findepage {
    background-color: #000000;
    margin-top: 10vh;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

#copy {
    padding-top: 1vh;
}

.condition {
    display: flex;
    margin-top: 3vh;
    padding-bottom: 5vh;
    justify-content: center;
}

.barre {
    margin-top: 1vh;
}
